@model IEnumerable<MyUquvMarkaz.Models.Student>
<h1>Students</h1>
<p><a asp-action="Create" class="btn btn-primary">Create New Student</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FullName</td>
                <td>@student.Age</td>
                <td>@student.Phone</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@student.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@student.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
